<!-- <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,
			initial-scale=1.0" />
	<link rel="stylesheet" href="payment.component.css" class="css" />
</head> -->

<!-- <body> -->
	<div class="container">
		<div class="main-content">
			<p class="text"></p>
		</div>

		<div class="centre-content">
			<h1 class="price">Premium</h1>
			<p class="course">
				Amazon Prime Premium now at 119/- per month
			</p>
		</div>

		<div class="last-content">
			<button [disabled]=" hide_cd" type="button" class="pay-now-btn" (click)="hide_nb=!hide_nb">
				Pay with Netbanking
			</button>

			<button [disabled]=" hide_nb" type="button" class="pay-now-btn" (click)="hide_cd=!hide_cd">
				Pay with Credit/Debit Card
			</button>

			<!-- <button type="button" class="pay-now-btn">
		Netbanking options
		</button> -->
		</div>

		<ul *ngIf="hide_nb">
			<br>
			<input type="radio" id="Axis" name="bank" value="axis">
			<label for="axis">Axis Bank</label><br>
			<input type="radio" id="Hdfc" name="bank" value="hdfc">
			<label for="hdfc">HDFC Bank</label><br>
			<input type="radio" id="Icici" name="bank" value="icici">
			<label for="icici">ICICI Bank</label><br>
			<input type="radio" id="Kotak" name="bank" value="kotak">
			<label for="kotak">Kotak</label><br>
			<input type="radio" id="Sbi" name="bank" value="sbi">
			<label for="sbi">SBI</label><br><br>

			<button type="submit" class="submit-now-btn" (click)="UpdateUser()">
				submit
			</button>
		</ul>

		<form *ngIf="hide_cd" [formGroup]="payForm">
			<br>
			<div class="card-details">
				<p>Pay using Credit/Debit card</p>
				<br>

				<div class="card-number">
					<label> Card Number </label>
					<input formControlName="cn" type="text" class="card-number-field" placeholder="###-###-###" />
					<div *ngIf="payForm.get('cn')?.invalid">
						<p style="color: red;">card number invalid</p>
					</div>
				</div>
				<br />
				<div class="date-number">
					<label> Expiry Date </label>
					<input type="date" formControlName="ed" class="date-number-field" placeholder="DD-MM-YY" id="ed" />
				</div>
				<br>
				<div class="cvv-number">
					<label> CVV number </label>
					<input type="text" formControlName="cvv" class="cvv-number-field" placeholder="xxx" id="cvv" />
					<div *ngIf="payForm.get('cvv')?.invalid">
						<p style="color: red;">cvv invalid</p>
					</div>
				</div>
				<br>
				<div class="nameholder-number">
					<label> Card Holder name </label>
					<input type="text" formControlName="name" class="card-name-field" placeholder="Enter your Name"
						id="name" />
					<div *ngIf="payForm.get('name')?.invalid">
						<p style="color: red;">name invalid</p>
					</div>
				</div>
				<br>
				<button type="submit" class="submit-now-btn" (click)="UpdateUser()">
					submit
				</button>
			</div>
		</form>
	</div>
<!-- </body>

</html> -->