
<h1>Genre 1</h1>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 4">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 5">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 6">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 7">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 8">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>

  <br>

  <h1>Genre 2</h1>
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 4">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 5">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 6">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 7">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide mx-2">
        <img src="../../../assets/Images/Test-logo.jpg" class="rounded-5" alt="img 8">
        <div class="carousel-caption d-none d-md-block">
          <h5>Movie name</h5>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>


