<p>home works!</p>

<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/Images/Test-logo.jpg" alt="img 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/Images/Test-logo.jpg" alt="img 2">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/Images/Test-logo.jpg" alt="img 3">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/Images/Test-logo.jpg" alt="img 4">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/Images/Test-logo.jpg" alt="img 5">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/Images/Test-logo.jpg" alt="img 6">
      </div>
    </ng-template>
  </owl-carousel-o>


<p>hisadha</p>