
        @import url("https://fonts.googleapis.com/css?family=Aboreto");
        img {
            height: 280px;
        }

        body {
            background: hsl(0, 0, 94%);
        }
        video {
            position:relative;
            z-index:0;
        }
        .overlay1 {
            position:absolute;
            top:10%;
          left:30%;
            z-index:1;
            height: 180px;
            width: 450px;
        }
        .overlay2 {
            position:absolute;
            top:23%;
            left:15%;
            z-index:1;
        }
        .overlay3 {
            position:absolute;
            top:30%;
            left:40%;
            z-index:1;
        }
        
        .heading{
          color: aliceblue;
        }
        .damnation{
          display: flex;
          margin-top: 50px;
          margin-bottom: 50px;
          border-radius: 0px;   
        }
        h5{
          font-family: Aboreto;
          font-size: 14px;
        }
        .tile {
            position: relative;
            display: block;
            flex: 1 1 0px;
            transition: transform 500ms;
            border-radius: 0px;
          }
          
          .tile img {
            display: block;
            max-width: 100%;
          }
          .damnation .tile:focus,
          .damnation .tile:hover{
            transform: scale(1.5);
            z-index: 1;
            
            
            
          }
          .reveal {
            filter:blur(2px);
          }
          
          .reveal:hover{
              -webkit-animation: 0.25s linear forwards reveal;
               -moz-animation: 0.25s linear forwards reveal;
                 -o-animation: 0.25s linear forwards reveal;
                    animation: 0.25s linear forwards reveal;
          }
          
          @-webkit-keyframes reveal { from { filter:blur(3px); } to { filter:blur(0px); }  }
             @-moz-keyframes reveal { from { filter:blur(3px); } to { filter:blur(0px); }  }
               @-o-keyframes reveal { from { filter:blur(3px); } to { filter:blur(0px); }  }
                  @keyframes reveal { from { filter:blur(3px); } to { filter:blur(0px); }  }
          