.background {
    background-image: url(../../../assets/Images/New_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
    height: 100vh;
      width: 100%;
  }

  input.ng-valid{
    border-left: 5px solid green;
}

input.ng-invalid{
    border-left: 5px solid red;
}