<form   [formGroup]="signupForm">
    <!-- #addForm="ngForm" (ngSubmit)="onAddUser(addForm)"-->
    <br><br>

    First name:<input type="text" name="first_name" formControlName="fname">
    <br><br>
    Last name:<input type="text" name="last_name" formControlName="lname">

    <br><br>

    Mobile:<input type="tel" name="mobile" formControlName="mobile">

    <br><br>

    Email:<input type="email" name="email" formControlName="email">

    <br><br>

    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd" formControlName="password">

    <br><br>

    <label for="cpwd">Confirm Password:</label>
    <input type="password" id="cpwd" name="cpwd">

    <br><br>

    <input type="checkbox">I accept the terms and conditions

    <br><br>

    <input type="submit" (click) ="AddUser()" value="Sign Up">
</form>