<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="in"><img src="assets/logo_White-removebg-preview1.png" alt="Brand-Name" style="height: 40px;"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="in">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="in/profile">{{user.fname}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="in/about">About</a></li>
                    <!-- <div *ngIf="log==false; then logout else login"></div> -->
                    <!-- <ng-template #logout> -->
                        <li class="nav-item"><a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Log Out</a></li> 

                    <!-- </ng-template> -->
                    <!-- <ng-template #login><li class="nav-item"><a class="nav-link" href="#">Log In</a></li> </ng-template> -->
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style=" background-image: linear-gradient(#E8F9FD, #8dd1e6);">
          <h5 class="modal-title" id="exampleModalLabel" >We already started Missing you!</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to SIGN OUT?<br>
        </div>
        <div class="modal-footer" style=" background-image: linear-gradient(#fbdbcb, #E8F9FD,);">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="loggingOut()">Yes</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</body>