 <!-- Footer-->
 <footer class="footer py-4" style="background-color: black;">
    <div class="container">
        <div class="row">
        <a class="col-lg-3" style="float: left; text-decoration: none;">Copyright &copy; 2022</a> 
        <div class="col-lg-6 align-items-center">  
            <div class="my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/BrillioGlobal" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/BrillioGlobalOfficial/" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/brillio/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <a id="love" class="col-lg-3" style="float: right;text-decoration: none;">Made with <span style="font-size:175%;color:red;">&hearts;</span> by Team SARV</a>
    </div></div>
    
</footer>