<app-navbar></app-navbar>
<section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Coming together is a beginning. Keeping together is progress. Working together is success.</h3>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/profile/sarthak.jpeg" alt="..." />
                        <h4>Sarthak Mishra</h4>
                        <p class="text-muted"></p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/SarthakM7" target="_blank" aria-label="Larry Parker Twitter Profile"><i class="fab fa-github"  style='font-size:24px'></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/sarthakmishra7/" target="_blank" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle"  src="assets/profile/avi.jpg" alt="..." />
                        <h4>Aviraj Ranawat</h4>
                        <p class="text-muted"></p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/Fangs560" target="_blank" aria-label="Larry Parker Twitter Profile"><i class="fab fa-github"  style='font-size:24px'></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/aviraj-singh-ranawat-80b0b6158/" target="_blank" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle"  src="assets/profile/rajveer.jpeg" alt="..." />
                        <h4>Rajveer Mathur</h4>
                        <p class="text-muted"></p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/Rajveermathur" target="_blank" aria-label="Larry Parker Twitter Profile"><i class="fab fa-github"  style='font-size:24px'></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/rajveer-mathur2599/" target="_blank" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/profile/vish.jpg" alt="..." />
                        <h4>Vishnu Achanta</h4>
                        <p class="text-muted"></p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/anvsreevishnu" target="_blank" aria-label="Larry Parker Twitter Profile"><i class="fab fa-github"  style='font-size:24px'></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/sreevishnu-achanta-24496418b/" target="_blank" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Four Individual commitments to a group effort–that is what makes a team work, a company work, a society work, a civilization work.</p></div>
            </div>
        </div>
    </section>
<!-- Contact Us Template -->

<section class="page-section" id="contact"  style="background-image: linear-gradient(rgb(72, 72, 72), black);">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Anything you want, we are just a message away.</h3>
        </div>
        <form id="contactForm">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Send Message</button></div>
        </form>
    </div>
</section>
<app-footer></app-footer>