<div class="background">
    
        <div class="d-flex justify-content-center">

            <div class="card w-25 bg-dark my-5">
                <form [formGroup]='loginForm'>
                    <div class="card-header">
                        <h3 class="my-2 text-light">Log In</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-light text-light">Email</h5>
                        <input type="email" formControlName="email" email placeholder="Enter your email address" class="form-control my-2" >
                        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="text-light">Please enter a valid email address</div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-light">Password</h5>
                        <input type="password" formControlName="password" placeholder="Enter your password" class="form-control my-2" >
                        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="text-light">Please enter a valid password</div>
                    </div>
                    <div class="card-footer text-muted">
                        
                        <button class="btn btn-primary text-light" [disabled]="!loginForm.valid" (click)="validateCheck()">Log in</button>
                    </div>
                </form>
                <button class="btn"><a routerLink="../signup" class="text-black" >Not a user? Sign up</a></button>
            </div>


        </div>
    </div>
